In [15]:
import pandas as pd

# Read CSV file into pandas DataFrame

In [16]:
df = pd.read_csv('data.csv')

## This Will show first 5 Rows Dataset

In [17]:
df.head()

,Month,Python Worldwide(%),JavaScript Worldwide(%),Java Worldwide(%),C# Worldwide(%),PhP Worldwide(%),Flutter Worldwide(%),React Worldwide(%),Swift Worldwide(%),TypeScript Worldwide(%),Matlab Worldwide(%)
0,2004-01,30,98,96,76,100,6,1,9,2,78
1,2004-02,29,98,97,86,99,6,2,9,1,91
2,2004-03,28,100,100,87,97,5,2,9,2,99
3,2004-04,28,98,97,89,100,6,1,9,2,95
4,2004-05,28,91,99,84,92,6,2,10,3,86

## Show Rows And Columns of Dataset

In [18]:
df.shape

(249, 11)

## Information about Dataset

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Month                    249 non-null    object
 1   Python Worldwide(%)      249 non-null    int64
 2   JavaScript Worldwide(%)  249 non-null    int64
 3   Java Worldwide(%)        249 non-null    int64
 4   C# Worldwide(%)          249 non-null    int64
 5   PhP Worldwide(%)         249 non-null    int64
 6   Flutter Worldwide(%)     249 non-null    int64
 7   React Worldwide(%)       249 non-null    int64
 8   Swift Worldwide(%)       249 non-null    int64
 9   TypeScript Worldwide(%)  249 non-null    int64
 10  Matlab Worldwide(%)      249 non-null    int64
dtypes: int64(10), object(1)
memory usage: 21.5+ KB

## Show null values

In [20]:
df.isnull()

,Month,Python Worldwide(%),JavaScript Worldwide(%),Java Worldwide(%),C# Worldwide(%),PhP Worldwide(%),Flutter Worldwide(%),React Worldwide(%),Swift Worldwide(%),TypeScript Worldwide(%),Matlab Worldwide(%)
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
244,False,False,False,False,False,False,False,False,False,False,False
245,False,False,False,False,False,False,False,False,False,False,False
246,False,False,False,False,False,False,False,False,False,False,False
247,False,False,False,False,False,False,False,False,False,False,False
248,False,False,False,False,False,False,False,False,False,False,False

## Using Two Functions

In [21]:
df.isnull().sum()

Month                      0
Python Worldwide(%)        0
JavaScript Worldwide(%)    0
Java Worldwide(%)          0
C# Worldwide(%)            0
PhP Worldwide(%)           0
Flutter Worldwide(%)       0
React Worldwide(%)         0
Swift Worldwide(%)         0
TypeScript Worldwide(%)    0
Matlab Worldwide(%)        0
dtype: int64

## Convert object types to categories

In [22]:
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].astype('category')

## Verify data types after conversion

In [23]:
df.dtypes

Month                      category
Python Worldwide(%)           int64
JavaScript Worldwide(%)       int64
Java Worldwide(%)             int64
C# Worldwide(%)               int64
PhP Worldwide(%)              int64
Flutter Worldwide(%)          int64
React Worldwide(%)            int64
Swift Worldwide(%)            int64
TypeScript Worldwide(%)       int64
Matlab Worldwide(%)           int64
dtype: object

## Describe the dataset and transpose the result

In [24]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Python Worldwide(%),249.0,41.678715,23.103231,20.0,23.0,29.0,60.0,100.0
JavaScript Worldwide(%),249.0,43.963855,16.024512,24.0,34.0,37.0,48.0,100.0
Java Worldwide(%),249.0,35.995984,21.897948,11.0,17.0,34.0,45.0,100.0
C# Worldwide(%),249.0,59.626506,20.330958,27.0,45.0,57.0,78.0,100.0
PhP Worldwide(%),249.0,37.477912,22.997381,13.0,20.0,27.0,48.0,100.0
Flutter Worldwide(%),249.0,22.642570,28.368911,4.0,6.0,8.0,32.0,100.0
React Worldwide(%),249.0,25.883534,32.518210,1.0,1.0,2.0,50.0,100.0
Swift Worldwide(%),249.0,30.678715,15.328697,8.0,23.0,29.0,37.0,100.0
TypeScript Worldwide(%),249.0,23.405622,28.603098,1.0,3.0,4.0,38.0,100.0
Matlab Worldwide(%),249.0,59.289157,13.282170,39.0,50.0,58.0,66.0,100.0

## Grouping data by a specific column, for example, 'BASEL_BBQ_weather'

In [25]:
df.groupby('Flutter Worldwide(%)').mean()

TypeError: category dtype does not support aggregation 'mean'

## Check if a value 'True' is present in the 'BASEL_BBQ_weather' column

In [26]:
is_present = True in df['Matlab Worldwide(%)'].values
is_present

False

## Access the value at a specific index (5th row)

In [27]:
value_at_index = df.iloc[5]
value_at_index

Month                      2004-06
Python Worldwide(%)             27
JavaScript Worldwide(%)         94
Java Worldwide(%)               89
C# Worldwide(%)                 97
PhP Worldwide(%)                97
Flutter Worldwide(%)             7
React Worldwide(%)               5
Swift Worldwide(%)               9
TypeScript Worldwide(%)          2
Matlab Worldwide(%)             87
Name: 5, dtype: object