In [3]:
import pandas as pd

In [4]:
# Read CSV file into pandas DataFrame
df = pd.read_csv('data.csv')

In [5]:
df.head()

,DATE,BASEL_BBQ_weather,BUDAPEST_BBQ_weather,DE_BBQ_weather,DRESDEN_BBQ_weather,DUSSELDORF_BBQ_weather,HEATHROW_BBQ_weather,KASSEL_BBQ_weather,LJUBLJANA_BBQ_weather,MAASTRICHT_BBQ_weather,MALMO_BBQ_weather,MONTELIMAR_BBQ_weather,MUENCHEN_BBQ_weather,OSLO_BBQ_weather,PERPIGNAN_BBQ_weather,SONNBLICK_BBQ_weather,STOCKHOLM_BBQ_weather,TOURS_BBQ_weather
0,20000101,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,20000102,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,20000103,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,20000104,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,20000105,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
df.shape

(3654, 18)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3654 entries, 0 to 3653
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DATE                    3654 non-null   int64
 1   BASEL_BBQ_weather       3654 non-null   bool
 2   BUDAPEST_BBQ_weather    3654 non-null   bool
 3   DE_BBQ_weather          3654 non-null   bool
 4   DRESDEN_BBQ_weather     3654 non-null   bool
 5   DUSSELDORF_BBQ_weather  3654 non-null   bool
 6   HEATHROW_BBQ_weather    3654 non-null   bool
 7   KASSEL_BBQ_weather      3654 non-null   bool
 8   LJUBLJANA_BBQ_weather   3654 non-null   bool
 9   MAASTRICHT_BBQ_weather  3654 non-null   bool
 10  MALMO_BBQ_weather       3654 non-null   bool
 11  MONTELIMAR_BBQ_weather  3654 non-null   bool
 12  MUENCHEN_BBQ_weather    3654 non-null   bool
 13  OSLO_BBQ_weather        3654 non-null   bool
 14  PERPIGNAN_BBQ_weather   3654 non-null   bool
 15  SONNBLICK_BBQ_weather   3654 non-null   bool
 16  STOCKHOLM_BBQ_weather   3654 non-null   bool
 17  TOURS_BBQ_weather       3654 non-null   bool
dtypes: bool(17), int64(1)
memory usage: 89.3 KB

In [10]:
df.isnull()

,DATE,BASEL_BBQ_weather,BUDAPEST_BBQ_weather,DE_BBQ_weather,DRESDEN_BBQ_weather,DUSSELDORF_BBQ_weather,HEATHROW_BBQ_weather,KASSEL_BBQ_weather,LJUBLJANA_BBQ_weather,MAASTRICHT_BBQ_weather,MALMO_BBQ_weather,MONTELIMAR_BBQ_weather,MUENCHEN_BBQ_weather,OSLO_BBQ_weather,PERPIGNAN_BBQ_weather,SONNBLICK_BBQ_weather,STOCKHOLM_BBQ_weather,TOURS_BBQ_weather
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3649,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3650,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3651,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3652,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3653,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [12]:
df.isnull().sum()

DATE                      0
BASEL_BBQ_weather         0
BUDAPEST_BBQ_weather      0
DE_BBQ_weather            0
DRESDEN_BBQ_weather       0
DUSSELDORF_BBQ_weather    0
HEATHROW_BBQ_weather      0
KASSEL_BBQ_weather        0
LJUBLJANA_BBQ_weather     0
MAASTRICHT_BBQ_weather    0
MALMO_BBQ_weather         0
MONTELIMAR_BBQ_weather    0
MUENCHEN_BBQ_weather      0
OSLO_BBQ_weather          0
PERPIGNAN_BBQ_weather     0
SONNBLICK_BBQ_weather     0
STOCKHOLM_BBQ_weather     0
TOURS_BBQ_weather         0
dtype: int64

In [13]:
df.dtypes

DATE                      int64
BASEL_BBQ_weather          bool
BUDAPEST_BBQ_weather       bool
DE_BBQ_weather             bool
DRESDEN_BBQ_weather        bool
DUSSELDORF_BBQ_weather     bool
HEATHROW_BBQ_weather       bool
KASSEL_BBQ_weather         bool
LJUBLJANA_BBQ_weather      bool
MAASTRICHT_BBQ_weather     bool
MALMO_BBQ_weather          bool
MONTELIMAR_BBQ_weather     bool
MUENCHEN_BBQ_weather       bool
OSLO_BBQ_weather           bool
PERPIGNAN_BBQ_weather      bool
SONNBLICK_BBQ_weather      bool
STOCKHOLM_BBQ_weather      bool
TOURS_BBQ_weather          bool
dtype: object